<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>Add User to Project: {{ project.name }}</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="user_id">Select User</label>
                <select name="user_id">
                    {% for user in available_users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
    
    <label for="is_admin">Is Admin</label>
    <input type="checkbox" name="is_admin">
    
    <button type="submit">Add User</button>
</form>
</body>
</html>